doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Chris van Wagoner
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1.0')
		meta(name='description', content='The homepage for DC-based web developer, Chris van Wagoner')
		link(rel='shortcut icon', href='images/apple-touch-icon.png')
		link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
		link(type='text/plain', rel='author', href='https://www.chrisvanwagoner.com/humans.txt')
		link(rel='stylesheet', type='text/css', href='css/lib/animate.min.css')
		link(rel='stylesheet', type='text/css', href='css/styles.min.css')

	body
		header
			figure
				img(src='https://res.cloudinary.com/dlyj42rsq/image/upload/v1564970391/images/chris-van-wagoner-portrait_arh7lr.jpg', 
				srcset='', 
				data-src='https://res.cloudinary.com/dlyj42rsq/image/upload/v1564970391/images/chris-van-wagoner-portrait_1x_p9djkx.jpg', 
				data-srcset='https://res.cloudinary.com/dlyj42rsq/image/upload/v1564970392/images/chris-van-wagoner-portrait_2x_ybkzqs.jpg 2x', 
				alt='Chris van Wagoner headshot', 
				loading='lazy')
			.header__text-wrap
				h1.header__name Chris van Wagoner
				p.header__bio Web developer experienced in creation and maintenance of WordPress sites.  Added functionality to fit each client’s unique requirements while matching designs to pixel-perfect accuracy. Built and launched 13 websites in the past year and a half using WordPress, PHP, JavaScript, and Sass.
		main#main.clients
			h2.work Work
			div(v-for='client in clients', 
			v-bind:class="'client client--' + client.class + ' wow fadeIn'", 
			v-bind:style="'background-color:' + client.bgColor + ';'", 
			data-wow-duration='300ms', 
			data-wow-delay='200ms')
				.client-info
					h3.client-info__name {{ client.name }}
					small.client-info__category
						span {{ client.category }}
					p.client-info__text {{ client.summary }}
					a.client-info__link(v-bind:href='client.url', target='_blank', rel='noopener') See More
				// .client-info
				figure.client-info__figure
					a(v-bind:href='client.url', target='_blank', rel='noopener', aria-label='See More')
					img(v-bind:src='client.imgPlc', 
					srcset='', 
					sizes='100vw', 
					v-bind:data-src='client.imgSrc', 
					v-bind:data-srcset='client.imgSrcSet', 
					v-bind:alt='client.imgAlt', 
					loading='lazy')
			// .client
		footer
			.contact
				h4 Contact
				ul    
					li
						a(href='https://www.linkedin.com/in/chrisvanwagoner/', target='_blank', rel='noopener') LinkedIn
					li
						a(href='https://github.com/chrisvanwagoner', target='_blank', rel='noopener') GitHub
					li
						a(href='https://www.instagram.com/ch.vw', target='_blank', rel='noopener') Instagram
					li Located in Washington, D.C.
		script(rel='preload', src='js/scripts.min.js')