doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Chris van Wagoner
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1.0')
		meta(name='description', content='The homepage for DC-based web developer, Chris van Wagoner')
		link(rel='shortcut icon', href='images/apple-touch-icon.png')
		link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
		link(type='text/plain', rel='author', href='https://www.chrisvanwagoner.com/humans.txt')
		link(href="./css/styles.css" rel="stylesheet" type="text/css")
		//- style
			//- include css/styles.css

	body
		header
			figure
				img.fadeInLeft.lazyload(src='images/chris-van-wagoner-portrait-blur.jpg', 
				srcset='', 
				data-src='images/chris-van-wagoner-portrait@1x.jpg', 
				data-srcset='images/chris-van-wagoner-portrait@2x.jpg 2x', 
				alt='Chris van Wagoner headshot', 
				loading='lazy'
				data-animate-duration="0.75s")
			.header-text
				h1.header-text__name.fadeInLeft(data-animate-delay="0.2s",
				data-animate-duration="0.75s") Chris van Wagoner
				p.header-text__bio.fadeInLeft(data-animate-delay="0.1s",
				data-animate-duration="0.75s") Chris van Wagoner is a D.C. based developer, specializing in WordPress and front-end PHP. At #[a.link(href='https://www.socialdriver.com' target='_blank' rel='noopener') Social&nbsp;Driver], he works with visual and UX designers and stakeholders to build fast, beautiful sites for non-profits in Washington and across the U.S.
		main#app
			h2.main__title Selected <br>Work
			ul.clients
				
				//- li#client.client(data-animate-duration='300ms')
				//- 	a.client-name.animate.out.fadeInUp(data-animate-delay="0.4s",
				//- 	data-animate-duration="0.2s",
				//- 	href='client.url', 
				//- 	target='_blank', 
				//- 	rel='noopener') TEST NAME
				li(v-for='(client, index) in clients' :key='index', 
				v-bind:class="'client client-' + index",
				data-animate-duration='300ms')
					a.client-name.out(v-bind:href='client.url', 
					target='_blank', 
					rel='noopener') {{ client.name }}
			// .client
		footer
			.contact
				h3 Contact
				ul    
					li
						a(href='https://www.linkedin.com/in/chrisvanwagoner/', target='_blank', rel='noopener') LinkedIn
					li
						a(href='https://github.com/chrisvanwagoner', target='_blank', rel='noopener') GitHub
					li
						a(href='https://www.instagram.com/ch.vw', target='_blank', rel='noopener') Instagram
					li 
						span Located in Washington, D.C.
		script(src="./js/scripts.js")
		//- script
		//- 	include js/scripts.js