doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Chris van Wagoner
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1.0')
		meta(name='description', content='The homepage for DC-based frontend web developer, Chris van Wagoner')
		link(rel='shortcut icon', href='images/apple-touch-icon.png')
		link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
		link(type='text/plain', rel='author', href='https://www.chrisvanwagoner.com/humans.txt')
		link(href="css/styles.css" rel="stylesheet" type="text/css" media="screen")
	body
		//- button.mode-toggle Switch to dark mode
		header
			button.mode-toggle.button--dark Switch to dark mode
			figure.header__figure
				img.fade-left.lazyload(src='images/chris-van-wagoner-portrait-blur.jpg', 
				srcset='images/chris-van-wagoner-portrait-blur.jpg', 
				data-src='images/chris-van-wagoner-portrait@1x.jpg', 
				data-srcset='images/chris-van-wagoner-portrait@2x.jpg 2x', 
				data-speed="0.2"
				alt='Chris van Wagoner headshot', 
				loading='lazy')
			h1.header__name.fade-right(data-speed="0.05") Chris van Wagoner
			.header__bio.fade-right(data-speed="0.1") 
				p Chris van Wagoner is a DC-based frontend developer. At #[a.link(href='https://www.socialdriver.com' target='_blank' rel='noopener') Social&nbsp;Driver], he works with visual and UX designers, account and project managers, and stakeholders to build fast, beautiful sites for non-profits in Washington and across the U.S.
		#preview
		main#app
			h2.main__title 
				span Selected <br>Work
				.title-decoration(aria-hidden='true')
					<svg class="main__svg" height="237" viewBox="0 0 327 237" width="327" xmlns="http://www.w3.org/2000/svg">
						<path d="m89.9455556 193.30037c50.2088884 39.033704 163.4100004 72.515926 219.3677774-10.592592 36.332593-53.965889 5.402223-125.6406669-55.408889-156.5065187-44.382963-22.52611115-135.633333-37.830963-194.6148144-13.962963-85.0508148 34.4143704-63.70674071 140.1361477-26.2965926 181.0620737" fill="none" stroke="#00584b" stroke-width="1" transform="translate(1 1)"/>
					</svg>
			ul.main__clients
				li(v-for='(client, index) in clients' :key='index', 
				v-bind:class="'client client-' + index",
				data-animate-duration='300ms')
					a.client__name(v-bind:href='client.url', 
					v-bind:data-preview='client.imgSrc',
					target='_blank', 
					rel='noopener') 
						span {{ client.name }}
		footer
			.contact
				h2.h3-like 
					span Contact  
					.title-decoration(aria-hidden='true')
						<svg class="footer__svg" height="66" viewBox="0 0 302 66" width="302" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
							<path d="m0 63.1813785c79.316445-14.0822249 156.568803 1.3095526 231.880774-19.0012092 18.239419-4.9189843 64.748488-20.662636 68.006046-44.1801693" fill="none" stroke="#00584b" stroke-width="1" transform="translate(1 1)"/>
						</svg>
				ul    
					li
						a(href='https://www.linkedin.com/in/chrisvanwagoner/', target='_blank', rel='noopener') LinkedIn
					li
						a(href='https://github.com/chrisvanwagoner', target='_blank', rel='noopener') GitHub
					li
						a(href='https://www.instagram.com/ch.vw', target='_blank', rel='noopener') Instagram
					li 
						span Located in Washington, D.C.
		script(src="js/scripts.js")