doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Chris van Wagoner
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1.0')
		meta(name='description', content='The homepage for DC-based web developer, Chris van Wagoner')
		link(rel='shortcut icon', href='images/apple-touch-icon.png')
		link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
		link(type='text/plain', rel='author', href='https://www.chrisvanwagoner.com/humans.txt')
		link(href="./css/styles.css" rel="stylesheet" type="text/css")
		//- style
			//- include css/styles.css

	body
		header
			figure
				img.animate.fadeInLeft.lazyload(src='https://res.cloudinary.com/dlyj42rsq/image/upload/v1564970391/images/chris-van-wagoner-portrait_arh7lr.jpg', 
				srcset='', 
				data-src='https://res.cloudinary.com/dlyj42rsq/image/upload/v1564970391/images/chris-van-wagoner-portrait_1x_p9djkx.jpg', 
				data-srcset='https://res.cloudinary.com/dlyj42rsq/image/upload/v1564970392/images/chris-van-wagoner-portrait_2x_ybkzqs.jpg 2x', 
				alt='Chris van Wagoner headshot', 
				loading='lazy'
				data-animate-duration="0.75s")
			.header-text
				h1.header-text__name.animate.fadeInLeft(data-animate-delay="0.2s",
				data-animate-duration="0.75s") Chris van Wagoner
				p.header-text__bio.animate.fadeInLeft(data-animate-delay="0.1s",
				data-animate-duration="0.75s") Chris van Wagoner is a D.C. based developer, specializing in WordPress and front-end PHP. At #[a.link(href='https://www.socialdriver.com' target='_blank' rel='noopener') Social Driver], he works with visual and UX designers and stakeholders to build fast, beautiful sites for non-profits in Washington and across the U.S.
		main#app
			h2.main__title Selected Work
			ul.clients
				li(v-for='(client, index) in clients' :key='index', 
				v-bind:class="'client client--' + client.class", 
				data-animate-duration='300ms')
					a.client-name.animate.fadeInUp(data-animate-delay="0.3s",
					data-animate-duration="0.2s"
					v-bind:href='client.url', 
					target='_blank', 
					rel='noopener') {{ client.name }}
			// .client
		footer
			.contact
				h4 Contact
				ul    
					li
						a(href='https://www.linkedin.com/in/chrisvanwagoner/', target='_blank', rel='noopener') LinkedIn
					li
						a(href='https://github.com/chrisvanwagoner', target='_blank', rel='noopener') GitHub
					li
						a(href='https://www.instagram.com/ch.vw', target='_blank', rel='noopener') Instagram
					li Located in Washington, D.C.
		script(src="./js/scripts.js")
		//- script
		//- 	include js/scripts.js